@using Media = umbraco.cms.businesslogic.media.Media
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{

    var comInfoImage = new Media(Convert.ToInt32(Model.Content.GetPropertyValue("comInfoImage")));
    Layout = "SW_Master.cshtml";
    var nodeIds = Model.Content.GetPropertyValue("slideshow").ToString().Split(',');
    List<IPublishedContent> slides = new List<IPublishedContent>();
    foreach (var nodeId in nodeIds)
    {
        if (!String.IsNullOrEmpty(nodeId))
        {
            var publishedContent = Umbraco.NiceUrl(Convert.ToInt32(nodeId));
            if (!String.IsNullOrEmpty(publishedContent) && publishedContent != "#")
            {
                slides.Add(Umbraco.TypedContent(nodeId));
            }
        }
    }
}


 <!-- carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @for (var i=0;i<slides.Count;i++)
        {
            var active = i == 0 ? " class=\"active\"" : "";
            <li data-target="#carousel-example-generic" data-slide-to="@i" @Html.Raw(active)></li>
        }
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        @foreach (var slide in slides)
        {
                string styleString = slide.IsFirst() ? "active" : "";
                <div class="item @Html.Raw(styleString)">
                    <a href="@slide.GetPropertyValue("link")">
                        <img src="@slide.GetPropertyValue("mainImage")" />
                        <div class="carousel-caption">
                        </div>
                    </a>
                </div>
				
        }
        
    </div>
		
        

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div>
<!-- end of carousel -->

 
<div class="clearfix">
    <div style="float: left;width: 50%;padding-right: 30px;min-height: 300px;">
        <h2 class="with_blue">@Html.Raw(Model.Content.GetPropertyValue("comInfoTitle").ToString())</h2>
        <img src="@comInfoImage.getProperty("umbracoFile").Value.ToString()" align="left"/>
        @Html.Raw(Model.Content.GetPropertyValue("comInfoText").ToString())
    </div>

    <div style="float: left;width: 50%;min-height: 300px;">
        @Html.Partial("LatestNews")
    </div>
</div>

@*<div class="home_prods clearfix">
    @Html.Partial("LatestProduct")
</div>*@
	
<div class="clearfix">
	@Html.Partial("ProductFolderList")
</div>

@section styles
{
    <style>
        .carousel-inner>.item>img, .carousel-inner>.item>a>img  {
            height: 300px;
        }
    </style>
}

@section scripts
{
    <script type="text/javascript">
        $(function() {
            $('.carousel').carousel({
                interval: 3000
            });
        });
    </script>
}