@using Site.App_Code
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SW_Master.cshtml";
    int pageSize = 10; // How many items per page
    int page; // The page we are viewing

    /* Set up parameters */

    if (!int.TryParse(Request.QueryString["page"], out page))
    {
        page = 1;
    }

    /* This is your basic query to select the nodes you want */

    //var nodes = Model.Content.Children.Where(x => x.DocumentTypeAlias == "NewsArticle").OrderBy(x=>x.CreateDate);
    var nodes = Model.Content.Descendants("NewsArticle").OrderBy(x => x.CreateDate);

    int totalNodes = nodes.Count();
    int totalPages = (int)Math.Ceiling((double)totalNodes / (double)pageSize);

    /* Bounds checking */

    if (page > totalPages)
    {
        page = totalPages;
    }
    else if (page < 1)
    {
        page = 1;
    }


    
    
    
    
    
    
    
    
    
    
    
    
}



<div class="clearfix">
    @Html.Partial("LeftNavigation",@Model.Content)

    <div  class="" style="float: left;width: 75%;padding-left: 30px;">
       
       
        @*<h2 class="list_title">@Model.Content.GetTitleOrName()</h2>*@
           
        <div class="news_list clearfix">
            <ul style="padding-left: 0px;">
                @foreach (var item in nodes.Skip((page - 1) * pageSize).Take(pageSize))
                {
                    <li>

                        <span class="news_name">
                            <a href="@item.Url">
                                @item.GetTitleOrName()
                            </a>
                        </span>

                        <span class="news_date">
                            @Convert.ToDateTime(item.GetPropertyValue("articleDate")).ToString("d")
                        </span>
                        @*<p>
                        @item.GetPropertyValue("articleSummary")

                    </p>*@
                    </li>
                }
            </ul>
        </div>
        
        @*@if(totalPages > 1)
        {*@
        <div>
            <ul class="pagination" style="display: table;margin: 20px auto;">
                <li><span>上一页</span></li>
                @for (int p = 1; p < totalPages + 1; p++)
                {
                    var selected = p == page ? " class=\"active\"" : "";
                    <li @Html.Raw(selected)><a href="?page=@p">@p</a></li>
                }
                <li><a>下一页</a></li>
            </ul>
        </div>
        @*}*@


    </div>
     
    @Html.Partial("ContentPanels",@Model.Content)
</div>
