@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@if (Model.Content.Level == 2 && Model.Content.Children.Any())
{
    var firstChild = Model.Content.Children.First();

    <script>
        window.location.href = "@firstChild.Url";
    </script>
}
else
{
    Layout = "SW_Master.cshtml";

    <div>
      
        @Html.Partial("LeftNavigation", @Model.Content)

        <div  class="" style="float: left; width: 75%; padding-left: 30px;">
            @Html.Raw(Model.Content.GetPropertyValue<string>("bodyText"))
        </div>
     
        @Html.Partial("ContentPanels", @Model.Content)
        <div class="clearfix"></div>
    </div>
}