@inherits Umbraco.Web.Mvc.UmbracoViewPage<Koiak.StandardWebsite.ContactFormModel>
@{
    Layout = null;
}

@using (Html.BeginUmbracoForm("SendEmail", "ContactFormSurface", new {}, new {@class = "form-horizontal"}))
{
    <div class="form-group">
        @Html.LabelFor(x => Model.Name, new {@class = "col-sm-2 control-label"})
        @Html.EditorFor(x => Model.Name, new {@class = "col-sm-6 form-control"})
        @Html.ValidationMessageFor(x => Model.Name, "", new {@class = "alert"})
    </div>

    <div class="form-group">
        @Html.LabelFor(x => Model.Email, new {@class = "col-sm-2 control-label"})
        @Html.EditorFor(x => Model.Email, new {@class = "col-sm-6 form-control"})
        @Html.ValidationMessageFor(x => Model.Email, "", new {@class = "alert"})
    </div>

    <div class="form-group">
        @Html.LabelFor(x => Model.Comment, new {@class = "col-sm-2 control-label"})
        @Html.EditorFor(x => Model.Comment, new {@class = "col-sm-6 form-control"})
        @Html.ValidationMessageFor(x => Model.Comment, "", new {@class = "alert"})
    </div>


    <div>
        <input class="btn btn-default" type="submit" name="Submit"/>
    </div>

}

