@using Site.App_Code
@using Umbraco.Core.Dynamics
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var homepage = Model.Content.AncestorOrSelf(1);
}
<footer style="background-color: #f5f5f5;border-radius: 4px;">
    <div style="margin: 0 auto;width: 1000px;">
        @if (homepage.HasValue("links"))
        {
            <ul>
                <li style="margin: 0 0 10px 0;"><a href="javascript:void(0)"><strong>友情链接</strong></a></li>

                @{ var relatedLinks = homepage.GetPropertyValue<DynamicXml>("links"); }
                @if (relatedLinks.Any())
                {

                    foreach (dynamic item in relatedLinks)
                    {
                        var linkUrl = (item.type.Equals("internal")) ? Umbraco.NiceUrl(int.Parse(item.link)) : item.link;
                        var linkTarget = (item.newwindow.Equals("1")) ? " target=\"_blank\"" : string.Empty;
                        <li><a href="@linkUrl" @Html.Raw(linkTarget)>@item.title</a></li>
                    }

                }

            </ul>       }
        @if (homepage.HasProperty("footerNav"))
        {
            foreach (var node in Umbraco.TypedContent(homepage.GetPropertyValue<string>("footerNav").Split(',')))
            {
                if (node != null && node.Level != 1)
                {
                    
                    <ul style="@{ Html.Raw(node.IsLast() ? "width:180px;" : "");}">
                        <li style="margin: 0 0 10px 0;"><a href="@node.Url"><strong>@node.GetTitleOrName()</strong></a></li>
                        @foreach (var item in node.Children)
                        {
                            <li><a href="@item.Url">@item.GetTitleOrName()</a></li>
                        }
                    </ul>
                }
            }
        }
        <div style="float: left;padding-left: 40px;">
            <strong style="margin: 0 0 10px 0;">联系方式</strong>
            <p style="margin: 10 0 0 0;">@homepage.GetPropertyValue("lxfs")</p>
        </div>
        <div class="clearfix"></div>
    </div>
</footer>