@using Site.App_Code
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var homepage = Model.Content.AncestorOrSelf(1);
    var news = homepage.DescendantsOrSelf("ProductItem").OrderBy(x => x.CreateDate).Take(6);
}

<h2 class="with_blue">@umbraco.library.GetDictionaryItem("latestProduct")</h2>
<div id="ISL_Cont_11" class="1" style="overflow: hidden; width: 950px;">
    @foreach (var item in news)
    {
        if (item != null)
        {
            <div class="box" style="float: left;text-align: center;margin: 0;padding: 0;border: 0;">
                <div class="fang" style="padding: 1px;margin: 0 5px 0 0;border: 1px #ddd solid;">
                    <a href="@item.Url" ><img src="@item.GetPropertyValue("productImage")" width="150px" height="110px"></a></div>
                <a href="@item.Url" class="prodtitle">@item.GetTitleOrName()</a>
            </div>
        }
    }
</div>


<script src="/scripts/productroll10.js"></script>
<script language="javascript" type="text/javascript">
<!--//--><![CDATA[//><!--
var scrollPic_03 = new ScrollPic();
scrollPic_03.scrollContId   = "ISL_Cont_11"; //内容容器ID
scrollPic_03.arrLeftId      = "LeftArr1";//左箭头ID
scrollPic_03.arrRightId     = "RightArr1"; //右箭头ID

scrollPic_03.frameWidth     = 950;//显示框宽度
scrollPic_03.pageWidth      = 159; //翻页宽度

scrollPic_03.speed          = 10; //移动速度(单位毫秒，越小越快)
scrollPic_03.space          = 10; //每次移动像素(单位px，越大越快)
scrollPic_03.autoPlay       = true; //自动播放
scrollPic_03.autoPlayTime   = 3; //自动播放间隔时间(秒)

scrollPic_03.initialize(); //初始化
							
		//--><!]]>
</script>
