@using Site.App_Code
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var parent = Model.Content.AncestorsOrSelf("ProductFolder").FirstOrDefault();
    if(parent != null)
    {
        @traverse(parent, 6)
    }
}

@*traverse(parent, 6)*@

@helper traverse(IPublishedContent parent, int finishLevel)
{
<aside class=" sidebar" style="float: left;width: 25%;">
<h2 class="sidebar-widget-title">@parent.GetTitleOrName()</h2>
<nav>
 <ul>
    @foreach (var node in parent.Children.Where(x => x.IsVisible() && !x.IsDocumentType("ProductItem")))
    {
        if(node != null)
        {
            var selected = Array.IndexOf(Model.Content.Path.Split(','), node.Id.ToString()) >= 0 ? " class=\"active\"" : "";
      <li>
        <a @Html.Raw(selected) href="@node.GetAliasOrUrl()">@node.GetTitleOrName()</a>                                       
        @*if (selected!=""&&@node.Level<=finishLevel) { @traverse(node,finishLevel); }  *@
      </li>
      }
      }
    </ul>    
</nav>                                                         
       
      </aside>                                                         
        
}