@using Site.App_Code
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var parent = Model.Content.AncestorsOrSelf("ProductFolder").FirstOrDefault();
    if(parent != null)
    {
        @traverse(parent, 6)
    }
}

@*traverse(parent, 6)*@

@helper traverse(IPublishedContent parent, int finishLevel)
{
 <ul>
    @foreach (var node in parent.Children.Where(x => x.IsVisible() && !x.IsDocumentType("ProductItem")))
    {
        if(node != null)
        {
      var selected = Array.IndexOf(Model.Content.Path.Split(','), node.Id.ToString()) >= 0 ? " class=\"selected\"" : "";
      <li @Html.Raw(selected)>
        <a href="@node.GetAliasOrUrl()">@node.GetTitleOrName()</a>                                       
        @*if (selected!=""&&@node.Level<=finishLevel) { @traverse(node,finishLevel); }  *@
      </li>
      }
      }
    </ul>                                                            
        
}